input.text1{
    background-color: blue;
    border-radius: 20px;
    height: 60px;
    text-align: center;
    margin-top: 10px;
}
input.text2{
    background-color: brown;
    border-radius: 20px;
    height: 60px;
    margin-top: 10px;
    text-align: center;
}